/* https://github.com/pacocoursey/next-themes */
/* Your default theme */
:root {
  background-color: #d1cdb7;
  color: #454138;
  background-size: 0.3rem 0.3rem;
  background-image: linear-gradient(to right, #ccc8b1 1px, rgba(204, 200, 177, 0) 1px),
    linear-gradient(to bottom, #ccc8b1 1px, rgba(204, 200, 177, 0) 1px);
}

/* if use light and dark theme */
/* [data-theme='light'] {
} */
/* [data-theme='dark'] {
} */
